@charset "UTF-8";

/* ALGEMENE SETTINGS */

h1, h2, a, label, footer, button {
	font-family: "Fjalla One", sans-serif, Arial, Helvetica, sans-serif;
	color: black;
	text-decoration: none;
	font-weight: normal;
}

body.contact-page {
	width: 100%;
	margin: auto;
	background-color: #ca2e2e  !important;
}

body, html {
    overflow-x: hidden;
}

.dotContact {
	position: absolute;
	background-color: #cfc261;
	border-radius: 50%;
	pointer-events: none;
	transform: translate(-50%, -50%);
	z-index: 4;
}
/* EINDE ALGEMENE SETTINGS */

.contactFormulier {
    width: 550px;
    margin: 0px 0px 0px 46px;
    padding: 50px 0px 0px 0px;
}

.contactFormulier label {
    color: #f0e9b8;
}

.contactFormulier input, textarea {
    position: relative;
    float: right;
    margin-left: 50px;
    width: 400px;
}

.contactFormulier textarea {
    height: 250px;
}

.button {
    margin-top: 20px;
    max-width: 100px;
}

.tekstContact {
    font-family: "Fjalla One", sans-serif, Arial, Helvetica, sans-serif;
    color: #f0e9b8;
    padding-left: 45px;
    font-size: 19.2px;
    width: 800px;
    line-height: 1.5;
    margin-top: 100px;
}

.footerContact {
	padding: 200px 830px 0px 95px;
	margin: auto;
    color: #f0e9b8;
}




								/* Tablet layout: schermbreedte tot 1024px */
@media (max-width: 1024px) {
	/* HEADER */
	header {
		margin-right: 0;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

    .footerContact {
        padding: 400px 0px 0px 45px;
    }
}

								/* Mobiel layout: schermbreedte tot 768px */
@media (max-width: 768px) {
	.tekstContact {
		width: 400px;
		margin-top: 100px;
	}
	.contactFormulier {
		width: 250px;
		margin-left: 60px;
	}

	.contactFormulier input, textarea {
		position: relative;
		float: right;
		margin-left: 50px;
		width: 250px;
	}
}